
@using HRM.Web.ViewModels
@model EmployeeViewModel

<h2>Do you want to delete ?</h2>

<form method="post">    
    <a class="btn btn-success" asp-controller="Employee" asp-action="List"> Cancel </a>
    <button type="submit" class="btn btn-danger" asp-controller= "Employee" asp-action="Delete">Delete Employee</button>
</form>